@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Raleway&display=swap");
.servicesContainer {
  margin-top: 20px;
  height: 250px;
  margin: 45px 0px;
  display: flex;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.serviceTitle {
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

.serviceUl {
  padding: 5px;
  list-style: circle;
}
li {
  padding: 5px;
  font-size: 1.5rem;
}

.link-text {
  text-decoration: none;
  color: black;
}

.link-text:hover {
  color: rgba(204, 172, 245, 1);
}
