.about-container {
  max-width: 80%;

  margin: 40px auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
  /* background-image: url(../../assets/gradient.jpeg); */
  background-color: aliceblue;
  box-shadow: 1;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.sliderSection {
  margin-top: 20px;
  grid-area: slider;
  display: flex;
  justify-content: center;
  align-items: center;
}
