.about-container {
  max-width: 80%;

  margin: 40px auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
  background-color: #f1f1f1;
  box-shadow: 1;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.sliderSection {
  margin-top: 20px;
  grid-area: slider;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.image-box {
  flex: 1;
  max-width: 300px;
  overflow: hidden;
  border-radius: 5px;
}

.image-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-box:hover img {
  transform: scale(1.1);
}
