@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Raleway&display=swap");
.bg {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "slider"
    "hero";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}
.homeContainer {
  margin-bottom: 100px;
}

.sliderSection {
  margin-top: 20px;
  grid-area: slider;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  background-color: #f1f1f1;
}
.heroSection {
  margin-top: 20px;

  grid-area: hero;
  padding: 20px;
  /* box-shadow: 0px 2px 5px black; */
  width: 100%;
}

.heroTitle,
.heroSignature {
  margin: 20px 0px;
  /* font-family: "Climate Crisis", cursive; */
  font-family: "Gloock", serif;
  text-shadow: 1px 1px 1px grey;
  text-align: center;
  color: #dbb2d1;
}
.heroText {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.serviceList {
  width: 40%;
}
.mapheight {
  min-height: 400px;
  width: 60%;
  display: flex;
}

.map {
  font-family: "Raleway", sans-serif;
  text-align: center;
  flex: 1;
  width: 60%;
  height: 400px;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  .bottomSection {
    flex-direction: column;
    align-items: center;
  }

  .serviceList {
    width: 100%;
    margin-bottom: 30px;
  }

  .mapheight {
    height: 250px;
    width: 100%;
    display: flex;
  }
  .map {
    width: 90%;
    margin-right: 0;
    height: 500px;
  }
}
