@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Raleway&display=swap");
.bg {
  /* font-family: "Signika Negative", sans-serif; */

  height: 100vh;
  display: grid;
  grid-template-areas:
    "slider"
    "hero";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}
.homeContainer {
  margin-bottom: 100px;
}

.sliderSection {
  margin-top: 20px;
  grid-area: slider;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.heroSection {
  margin-top: 20px;

  grid-area: hero;
  padding: 20px;
  /* box-shadow: 0px 2px 5px black; */
  width: 100%;
}

.heroTitle,
.heroSignature {
  margin: 20px 0px;
  /* font-family: "Climate Crisis", cursive; */
  font-family: "Gloock", serif;
  text-shadow: 1px 1px 1px grey;
  text-align: center;
  color: #dbb2d1;
}
.heroText {
  text-align: center;
  font-family: "Raleway", sans-serif;
  /* text-shadow: 1px 1px 1px #000000; */
}
