@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Raleway&display=swap");
.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 120px;
  font-family: "Raleway", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-title {
  margin-bottom: 40px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #555;
}

.whatsapp {
  margin-bottom: 40px;

  text-align: center;
}

.whatsapp a {
  font-size: 3rem;
  color: green;
  margin-top: 10px;
}
