@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: #fd8bf8;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0px 1px 5px black;
  font-family: "Climate Crisis", cursive;
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ccacf5;
}

.container .nav-btn {
  padding: 2px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.container div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .container .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .container nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    background-color: violet;
    transition: 1s;
    transform: translateX(100vh);
  }

  .container .responsive {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
