.footerC {
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.footerBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

.footerSocial ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.footerSocial li {
  margin-right: 20px;
}

.footerSocial a {
  color: #333;
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}

.footerSocial a:hover {
  color: #f95c85;
}

.footerCopy p {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .footerCopy p {
    padding: 20px;
  }
}
