.slider {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  /* height: 534px; */
  width: 100%;
  margin: auto auto;
  padding: 20px;
}

.slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
}

.slide {
  margin: 0 10px;
  box-shadow: 0px 1px 5px black;
}

@media (min-width: 768px) {
  .slider {
    display: flex;
  }

  .mobile-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .slider {
    display: none;
  }

  .mobile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .mobile-img img {
    max-width: 90%;
    height: auto;
  }
}
